/*
 * 公共样式
 */

// 颜色
$color-bg-grey: #F0F2F5;
$color-bg-grey-1: #F2F4F8;
$color-bg-white: #FFFFFF;
$color-boxShadow: rgba(96, 105, 157, 0.04);
$color-boxShadow-hover: rgba(96,105,157,0.10);
$color-scrollbar-thumb-bg: rgba(193, 193, 193, 0.6);
$color-table-border-bg: #E8E8E8;
$color-font-333: #333333;
$color-font-666: #666666;
$color-font-green: #41C1AD;
$color-card-divider: #EEEEEF;
$color-border-hover: #E9E9E9;
$color-font-milk: #f1ebe5;

.ant-form-item{
  margin-bottom: 20px;
}

// 全局class 宽高 100% 
.w100 {
  width: 100%;
}
.h100 {
  height: 100%;
}
// 居中loading
.spin-center{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  opacity: 1;
}
// 居中empty
.empty-center{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  z-index: 888;
  opacity: 1;
}

 // 滚动条显示/消失
@mixin scrollbar($is) {
  @if $is == false {
    &::-webkit-scrollbar {
      height: 0px;
      width: 0px;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: transparent;
      border-radius: 0px;
    }
  }@else{
    &::-webkit-scrollbar {
      height: 5px;
      width: 5px;
    }
    // 轨道
    &::-webkit-scrollbar-track {
      background-color: $color-bg-white;
    }
    // 滑块
    &::-webkit-scrollbar-thumb {
      background-color: $color-bg-white;
      border-radius: 50px;
    }
  }
  
}

// a标签
@mixin a-common {
  a {
    cursor: pointer;
    text-decoration: none;
    border: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 255);
    -webkit-tap-highlight-color: transparent;
    outline: none;
  }
  a:link,
  a:hover,
  a:active,
  a:visited {
    text-decoration: none;
  }
}

// ul
@mixin ul-common {
  ul {
    list-style: none;
  }
}

// 文本
/*
 * 文本显示不完显示...
 * @param
 */
@mixin text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/*
 * 文本显示不完显示...
 * @param
 */
@mixin texts-ellipsis($rows) {
  display: -webkit-box;
  box-orient: vertical;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-line-clamp: #{$rows};
  overflow: hidden;
}

/*
 * 滑动动效
 * @param
 *
*/
@mixin slideX {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: all 0.4s cubic-bezier(0.18, -0.1, 0.04, 1.15);
  -moz-transition: all 0.4s cubic-bezier(0.18, -0.1, 0.04, 1.15);
  -webkit-transition: all 0.4s cubic-bezier(0.18, -0.1, 0.04, 1.15);
  -o-transition: all 0.4s cubic-bezier(0.18, -0.1, 0.04, 1.15);
  &.slide-in {
    transform: translateX(0%);
    z-index: 20;
  }
}
@mixin slideX-reverse {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(-100%);
  transition: all 0.4s cubic-bezier(0.18, -0.1, 0.04, 1.15);
  -moz-transition: all 0.4s cubic-bezier(0.18, -0.1, 0.04, 1.15);
  -webkit-transition: all 0.4s cubic-bezier(0.18, -0.1, 0.04, 1.15);
  -o-transition: all 0.4s cubic-bezier(0.18, -0.1, 0.04, 1.15);
  &.slide-in {
    transform: translateX(0%);
    z-index: 20;
  }
}
@mixin slideY {
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-100%);
  transition: all 0.3s cubic-bezier(0.18, -0.1, 0.04, 1.15);
  -moz-transition: all 0.3s cubic-bezier(0.18, -0.1, 0.04, 1.15);
  -webkit-transition: all 0.3s cubic-bezier(0.18, -0.1, 0.04, 1.15);
  -o-transition: all 0.3s cubic-bezier(0.18, -0.1, 0.04, 1.15);
  &.slide-in {
    opacity: 1;
    transform: translateY(0%);
    z-index: 20;
  }
}
@mixin slideY-reverse {
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(100%);
  transition: all 0.3s cubic-bezier(0.18, -0.1, 0.04, 1.15);
  -moz-transition: all 0.3s cubic-bezier(0.18, -0.1, 0.04, 1.15);
  -webkit-transition: all 0.3s cubic-bezier(0.18, -0.1, 0.04, 1.15);
  -o-transition: all 0.3s cubic-bezier(0.18, -0.1, 0.04, 1.15);
  &.slide-in {
    opacity: 1;
    transform: translateY(0%);
    z-index: 20;
  }
}
// flex布局
/*
 * flex水平布局
 * @param
 */
@mixin flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

/*
 * flex水平布局
 * @param
 */
@mixin flex-row {
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
}

/*
 * flex垂直布局
 * @param
 */
@mixin flex-column {
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
}

/*
 * flex主轴居中
 * @param
 */
@mixin flex-primary-axis-center {
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}

/*
 * flex主轴从后向前排
 * @param
 */
@mixin flex-primary-axis-end {
  -webkit-box-align: end;
  -moz-box-align: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
}
/*
 * flex主轴从前向后排
 * @param
 */
@mixin flex-primary-axis-start {
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
}
/*
 * flex主轴分居两边
 * @param
 */
@mixin flex-primary-axis-between {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
/*
 * flex主轴分居留边
 * @param
 */
@mixin flex-primary-axis-around {
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  justify-content: space-around;
}

@mixin flex-secondary-axis-start{

  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  align-items: flex-start;
}
/*
 * flex次轴居中
 * @param
 */
@mixin flex-secondary-axis-center {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}

/*
 * flex次轴从后向前排
 * @param
 */
@mixin flex-secondary-axis-end {
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  align-items: flex-end;
}

/*
 * flex次轴分居两边
 * @param
 */
@mixin flex-secondary-axis-between {
  -webkit-align-items: space-between;
  -moz-align-items: space-between;
  align-items: space-between;
}

/* animate.css
* 一些简单的动效
*/
//swing
@mixin animate-swing($speed) {
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swing;
  animation-name: swing;

  -webkit-animation-duration: $speed;
  animation-duration: $speed;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}
//pulse
@mixin animate-pulse($speed) {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;

  -webkit-animation-duration: $speed;
  animation-duration: $speed;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
